.container {
    display: flex;
    height: 100vh;
}

.product-catalog {
    width: 60%;
    
}

.terminal {
    width: 40%;
    background-image: conic-gradient(from 180deg, #690068, #000affd1, #ff6501, #ff0000);
    color: #fff;
    padding: 20px;
    box-sizing:border-box;
}

.terminal-window {
    background-color: #000;
    height: 100%;
    padding: 10px;
    overflow: auto;
  
}

.terminal-output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.terminal-input {
    display: flex;
}

.prompt {
    margin-right: 5px;
    color: green;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    flex-grow: 1;
}


.window-controls {
    display: flex;
    gap: 8px;
}

.window-controls span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.window-controls .close {
    background-color: #FF5F57;
}

.window-controls .minimize {
    background-color: #FFBD2E;
}

.window-controls .maximize {
    background-color: #28C940;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #333; /* Replace with your desired color */
}